[{Makefile,**.mk}]
indent_style = tab

[**.proto]
indent_style = space
indent_size = 4

[{*.yaml,*.yml}]
# ij_ settings meaning can be mapped from https://www.jetbrains.com/help/idea/code-style-yaml.html
ij_yaml_indent_sequence_value = false
