# IDE
.vscode

# Exclude GoLand/IntelliJ files in the repo.
# Note that trailing `/**/*` is required because some `git` versions will not respect the following inclusions without
# it. See https://stackoverflow.com/a/60288435/484050
# Leading `/**/` is required to apply exclsuion to all directories of the repo recursively. Basically, it is needed
# because of the trailing `/**/*`.
/**/.idea/**/*
# Yet, include per-project code style settings in the root of the repo.
# `codeStyles/` directory must be included explicitly because otherwise files will not be seen by `git`. See why in the
# link above.
!/.idea/codeStyles/
!/.idea/codeStyles/codeStyleConfig.xml
!/.idea/codeStyles/Project.xml

# Mac OS hidden file
.DS_Store

# Test output
/junit-reports/

# Makefile cruft
deps
proto-generated-srcs
protoc-*
report.xml
test.log
/.gobin/
/.proto/
/genesis-dump/
/test-output/

# nohup output when running port-forwards
nohup.out

# Vim swap files
*.swp

# Go mod
vendor
