# IDE
.idea

# Mac OS hidden file
.DS_Store

# Makefile cruft
deps
proto-generated-srcs
protoc-*
/.proto/
/.gobin/
/genesis-dump/

# nohup output when running port-forwards
nohup.out

# Vim swap files
*.swp
