# IDE
.idea

# Mac OS hidden file
.DS_Store

# Test output
/junit-reports/

# Makefile cruft
deps
proto-generated-srcs
protoc-*
report.xml
test.log
/.gobin/
/.proto/
/genesis-dump/
/test-output/

# nohup output when running port-forwards
nohup.out

# Vim swap files
*.swp

# Go mod
vendor
