apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ .Values.appName }}-config
  namespace: {{.Values.namespace}}
  labels:
    app: {{ .Values.appName }}
data:
  config.yaml: |-
    # The values specified here are the default values that the Scanner uses if no configuration file is specified or if the keys are not defined.
    scanner:
      database:
        # Database driver
        type: pgsql
        options:
          # PostgreSQL Connection string
          # https://www.postgresql.org/docs/current/static/libpq-connect.html#LIBPQ-CONNSTRING
          source: host={{ .Values.appName }}-db.{{ .Values.namespace }} port=5432 user=postgres sslmode=verify-full statement_timeout=60000
          # ConnectionMaxLifetime sets how long a connection can be used
          connectionMaxLifetime: 1m
          # Number of elements kept in the cache
          # Values unlikely to change (e.g. namespaces) are cached in order to save prevent needless roundtrips to the database.
          cachesize: 16384

      api:
        httpsPort: 8080
        grpcPort: 8443

      updater:
        # Frequency the database will be updated with vulnerabilities from the default data sources
        # The value 0 disables the updater entirely.
        interval: {{ .Values.updateInterval }}

      logLevel: {{ .Values.logLevel }}

      # The scanner intentionally avoids extracting or analyzing any files
      # larger than the following default sizes to prevent DoS attacks.
      # Leave commmented to use a reasonable default.
      # The max size of files in images that are extracted.
      # maxExtractableFileSizeMB: 200
      # The max size of ELF executable files that are analyzed.
      # maxELFExecutableFileSizeMB: 800
      # The max size of lazy reader buffer. Image file data beyond this limit are overflowed to temporary files on disk.
      # maxLazyReaderBufferSizeMB: 200
