apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ .Values.appName }}
  namespace: {{ .Values.namespace }}
  labels:
    app: {{ .Values.appName }}
  annotations:
    kube-linter.io/ignore/no-read-only-root-fs: "Some of the component extractors write temp files."
spec:
  replicas: 1
  minReadySeconds: 15
  selector:
    matchLabels:
      app: {{ .Values.appName }}
  template:
    metadata:
      namespace: {{ .Values.namespace }}
      labels:
        app: {{ .Values.appName }}
    spec:
      containers:
        - name: scanner
          image:  {{ .Values.scannerImage}}:{{ .Values.tag }}
          env:
          - name: POD_NAME
            valueFrom:
              fieldRef:
                fieldPath: metadata.name
          resources:
            limits:
              cpu: 2
              memory: 4Gi
            requests:
              cpu: 200m
              memory: 200Mi
          securityContext:
            runAsUser: 4000
          readinessProbe:
            httpGet:
              scheme: HTTPS
              path: /clairify/ping
              port: 8080
            timeoutSeconds: 10
            periodSeconds: 10
            failureThreshold: 3
            successThreshold: 1
          volumeMounts:
            - name: config
              mountPath: /etc/scanner
              readOnly: true
            - name: scanner-tls-volume
              mountPath: /run/secrets/stackrox.io/certs/
              readOnly: true
            - name: license
              mountPath: /run/secrets/stackrox.io/ef97c1c1-0027-4f4a-b398-ca49fff5be17/
              readOnly: true
            - name: vuln-temp-db
              mountPath: /var/lib/stackrox
            - name: scanner-db-password
              mountPath: /run/secrets/stackrox.io/secrets
      volumes:
        - name: config
          configMap:
            name: {{ .Values.appName }}-config
        - name: vuln-temp-db
          emptyDir: {}
        - name: scanner-tls-volume
          secret:
            secretName: scanner-tls
        - name: scanner-db-password
          secret:
            secretName: scanner-db-password
        - name: license
          secret:
            secretName: scanner-license
            optional: true
