version: 2.1

defaults: &defaults
  docker:
    - image: docker.io/stackrox/apollo-ci:0.2.3
      auth:
        username: $DOCKER_IO_PULL_USERNAME
        password: $DOCKER_IO_PULL_PASSWORD
  working_directory: /go/src/github.com/stackrox/scanner

commands:
  setup-gcp:
    description: Set up GCP service account and configure gcloud
    steps:
      - run:
          name: Configure GCP service account and gcloud
          command: |
            cci-export GOOGLE_APPLICATION_CREDENTIALS /tmp/gcp.json
            echo "${GOOGLE_SA_CIRCLECI_SCANNER}" > "${GOOGLE_APPLICATION_CREDENTIALS}"
            chmod 0600 "${GOOGLE_APPLICATION_CREDENTIALS}"
            gcloud auth activate-service-account --key-file "${GOOGLE_APPLICATION_CREDENTIALS}"
            gcloud auth list
            gcloud auth configure-docker
            gcloud config set project stackrox-ci
            gcloud config set core/disable_prompts True

jobs:
  style-checks:
    <<: *defaults
    steps:
      - checkout

      - run:
          name: Install dependencies
          command: make deps

      - run:
          name: Run style checks
          command: make style

  build:
    <<: *defaults
    steps:
    - checkout
    - setup_remote_docker

    - run:
        name: Pull definitions dump
        command: |
          status_code="$(curl -w '%{http_code}' -u "${STACKROX_IO_PUSH_USERNAME}:${STACKROX_IO_PUSH_PASSWORD}" -L https://install.stackrox.io/scanner/definitions.sql.gz --output image/dump/definitions.sql.gz)"
          [[ "${status_code}" -eq 200 ]] || { echo "Failed to pull the definitions dump. Status code ${status_code}. File contents: $(head image/dump/definitions.sql.gz)"; exit 1; }

    - run:
        name: Build images
        command: make image

    - setup-gcp

    - run:
        name: Push images
        command: |
          TAG="$(./get-tag)"
          docker push "us.gcr.io/stackrox-ci/scanner:${TAG}"
          docker push "us.gcr.io/stackrox-ci/scanner-db:${TAG}"


  provision-cluster:
    <<: *defaults
    steps:
      - checkout
      - setup_remote_docker
      - setup-gcp

      - run:
          name: Create GKE Cluster
          command: |
            cci-export CLUSTER_NAME "stackrox-scanner-ci-${CIRCLE_WORKFLOW_ID}"
            source .circleci/create-cluster.sh && create-cluster

      - run:
          name: Save cluster config
          command: |
            CONFIG_DIR=/tmp/saved_config
            mkdir -p "${CONFIG_DIR}"
            echo "${CLUSTER_NAME}" > "${CONFIG_DIR}/name"
            gcloud config get-value compute/zone > "${CONFIG_DIR}/zone"

      - run:
          name: Tear down cluster upon failure
          command: |
            gcloud container clusters delete "$CLUSTER_NAME" --async
          when: on_fail

      - persist_to_workspace:
          root: /tmp
          paths:
            - saved_config

  e2e-tests:
    <<: *defaults
    steps:
      - checkout
      - setup_remote_docker
      - setup-gcp
      - run:
          name: Restore cluster config
          command: |
            CONFIG_DIR=/tmp/saved_config
            cci-export CLUSTER_NAME "$(cat "${CONFIG_DIR}/name")"
            [[ -n "${CLUSTER_NAME}" ]]
            cci-export ZONE "$(cat "${CONFIG_DIR}/name")"
            [[ -n "${ZONE}" ]]
            gcloud config set compute/zone "${ZONE}"
            cmd=(gcloud container clusters get-credentials --project stackrox-ci --zone "$ZONE" "$CLUSTER_NAME")
            "${cmd[@]}"
            echo "Restored config for cluster ${CLUSTER_NAME}"
            echo
            echo "Run the following command to attach to the cluster:"
            echo
            printf " %q" "${cmd[@]}"
            echo

      - run:
          name: Wait for cluster to stabilize
          command: |
            source .circleci/create-cluster.sh && wait-for-cluster

      - run:
          name: Tear down cluster
          command: |
            gcloud container clusters delete "$CLUSTER_NAME" --async
          when: always


workflows:
  version: 2

  build:
    jobs:
    - style-checks:
        context: docker-io-pull
        filters:
          tags:
            only: /.*/
    - build:
        context: docker-io-and-stackrox-io-push
        filters:
          tags:
            only: /.*/
    - provision-cluster:
        context: docker-io-pull
        filters:
          tags:
            only: /.*/
    - e2e-tests:
        context: docker-io-pull
        requires:
          - build
          - provision-cluster
        filters:
          tags:
            only: /.*/
