name: Vulnerability updates sanity check
on:
  schedule:
    - cron: '5 0,4,8,12,16,20 * * *'

jobs:
  sanity-check-vuln-updates:
    env:
      GOOGLE_SA_STACKROX_HUB_VULN_DUMP_UPLOADER: ${{ secrets.GOOGLE_SA_STACKROX_HUB_VULN_DUMP_UPLOADER }}
      SLACK_WEBHOOK_ONCALL: ${{ secrets.SLACK_ONCALL_SCANNER_WEBHOOK }}
    runs-on: ubuntu-latest
    container:
      image: quay.io/stackrox-io/apollo-ci:scanner-test-0.4.9
    steps:
      - name: Checkout
        uses: actions/checkout@v6
        with:
          fetch-depth: 0
          ref: master

      - uses: ./.github/actions/job-preamble

      - name: sanity-check-vuln-updates
        run: ./scripts/ci/jobs/sanity-check-vuln-updates.sh
